.bg-tryglass{
    background-image: linear-gradient(to top, #333, rgba(0, 0, 0, 0.3)),url('/public/glassesImage/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 17px;
}

.my_header{
    background-color: rgba(0, 0, 0, 0.6);;
    color: white;

}
.mybody{
    padding-top: 40px;
}
.test_pic {
    background-image: url("../glassesImage/model.jpg");
    background-position: center top;
    background-size: cover;
    height: 400px;
    width: 300px;
}

.test{
    position: relative;
    overflow: hidden;
    background-color: white;
}
.kinh{
    position: absolute;
    top: -160%;
    left: 25%;
    width: 148px;
    height: 55px;
    opacity: 0.9;
}
.list_glass1{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.listGlasses{
    background-color: white;
    margin-top: 50px;
    max-width: 80%;
    height: 170px;
}
.pic_glass{
    cursor: pointer;
    border: solid 1px black;
}

.txt{
    position: absolute;
    bottom:0;
    left: 0;
    background-color:rgba(242, 121, 35, 0.495);
    width: 100%;
    color: white;
    /* padding: 20px; */
   display: none;
}
.txt.addclass{
    display: block;
}

.name{
    font-size: 14px;
    color: blue;
}
.price{
    font-size: 14px;
}
.desc{
    font-size: 12px;
}
